---
name: CI

on:
  pull_request:
    paths: [action.yml, .github/workflows/ci.yml]

jobs:
  CI:
    runs-on: [ubuntu-24.04]

    permissions:
      contents: read # Required to checkout repository.
      models: read # Required for AI inference.

    steps:
      - name: Echo context
        env:
          GH_JSON: ${{ toJson(github) }}
        run: echo "$GH_JSON"

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          sparse-checkout: action.yml

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2

      - name: Run Terraform
        id: terraform
        continue-on-error: true
        run: terraform plan

      - name: AI inference request
        id: prompt
        uses: ./
        with:
          system-prompt: You are a helpful DevOps assistant and expert at debugging Terraform errors.
          user-prompt: Troubleshoot the following Terraform output; ${{ steps.terraform.outputs.stderr }}
          show-payload: true

      - name: Echo outputs
        run: |
          echo "response:"
          echo "${{ steps.prompt.outputs.response }}"

          echo "response-file:"
          echo "${{ steps.prompt.outputs.response-file }}"

          echo "response-file contents:"
          cat "${{ steps.prompt.outputs.response-file }}"
