---
name: Release

on:
  release:
    types: [published]

jobs:
  Release:
    runs-on: [ubuntu-24.04]

    permissions:
      contents: write # Required to create tags.
      id-token: write # Required for authentication.
      packages: write # Required to publish packages.

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # Fetch tag history.
          persist-credentials: false

      - name: Tag release
        env:
          GH_TAG: ${{ github.event.release.tag_name}}
          GH_TOKEN: ${{ github.token }}
        run: |
          version=${GH_TAG%%.*}
          gh api /repos/${{ github.repository }}/git/refs/tags/${version} --method PATCH --silent --field sha="${GITHUB_SHA}" --field force=true || \
            gh api /repos/${{ github.repository }}/git/refs --method POST --silent --field sha="${GITHUB_SHA}" --field ref="refs/tags/${version}"

      - name: Publish package
        continue-on-error: true
        uses: actions/publish-immutable-action@4bc8754ffc40f27910afb20287dbbbb675a4e978 # v0.0.4
